<h3>Star rating</h3>
<div>
  <form [formGroup]="formStarRating">
    <mat-form-field >
      <input matInput
             type="number"
             placeholder="The rating value"
             formControlName="rating">
    </mat-form-field>
    <mat-form-field >
      <input matInput
             type="color"
             placeholder="The color value"
             formControlName="color">
    </mat-form-field>
  </form>
</div>
<div>
  <app-star-rating [rating]="formStarRating.value.rating"
                   [type]="StarRatingComponentType.FAVORITE"
                   [color]="formStarRating.value.color"
                   [detail]="true"></app-star-rating>
</div>
